<!DOCTYPE html>
<html>
  <head>
    <title>Transaction Checker</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
      type="image/x-icon"
    />
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
  </head>

  <body>
    <button type="button" class="btn btn-default px-3 sapienza-button tutorial">
      <i class="fa-solid fa-book icon-of-page"></i>
      Instruction
    </button>
    <button
      type="button"
      class="btn btn-default px-3 sapienza-button history"
      id="history_button"
    >
      <i class="fa-solid fa-clock-rotate-left icon-of-page"></i>
      History
    </button>

    <div id="popupContainer" class="popup-container">
      <div class="popup">
        <div class="popup-close">
          <button
            id="empty_button"
            type="button"
            class="btn btn-default px-3 sapienza-button button-trash"
          >
            <i class="fa-solid fa-trash icon-trash"></i>
            Empty
          </button>
          <button
            type="button"
            class="btn btn-default px-3 sapienza-button"
            id="close_button"
          >
            <i class="fa-solid fa-xmark icon-close"></i>
            Close
          </button>
        </div>
        <div class="title-popup">
          <h2>History of schedules:</h2>
        </div>
        <div class="listSchedules" id="list_schedules">
          <div class="pastSchedule">
            <p class="textPastSchedule">No schedule submitted!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container center-container">
      <div class="form-container">
        <h2 class="text-center pb-4">Transaction Checker</h2>
        <form id="form_with_schedule" onsubmit="submitForm(event)">
          <div class="form-group pb-4">
            <label for="input_with_schedule"><b>Schedule:</b></label>
            <input
              type="text"
              name="schedule"
              class="form-control"
              id="input_with_schedule"
              placeholder="Enter a schedule..."
            />
          </div>
          <div class="form-group pb-4">
            <label><b>Choose Possibilities:</b></label
            ><br />
            <input
              type="checkbox"
              name="possibility"
              value="precedence_graph"
            />
            Precedence Graph<br />
            <input
              type="checkbox"
              name="possibility"
              value="conflict_serializability"
            />
            Conflict Serializability<br />
            <input type="checkbox" name="possibility" value="2pl_protocol" />
            2PL Compliance <br />
            <input type="checkbox" name="possibility" value="timestamp" />
            Timestamp<br />
            <input
              type="checkbox"
              name="possibility"
              value="view_serializability"
            />
            View Serializability<br />
            <input type="checkbox" name="possibility" value="recoverability" />
            Recoverability<br />
            <input type="checkbox" name="possibility" value="acr" />
            ACR<br />
            <input type="checkbox" name="possibility" value="strict" />
            Strict<br />
            <input type="checkbox" name="possibility" value="rigorousness" />
            Rigorousness<br />
          </div>

          <div class="form-group pb-4">
            <input type="checkbox" name="use_xl_only" id="input_checkbox" />
            <label for="input_checkbox"
              >Use <i>only</i> <b>exclusive locks (xl)</b>.</label
            >
          </div>
          <div class="form-group pb-4">
            <button
              type="submit"
              id="solve_button"
              class="btn btn-default px-3 sapienza-button"
            >
              <i class="fa-solid fa-paper-plane icon-of-page"></i> Solve
            </button>
            <button
              type="button"
              id="clear_button"
              class="btn btn-default px-3 sapienza-button"
            >
              <i class="fa-solid fa-broom icon-of-page"></i> Clear
            </button>
          </div>
        </form>
        <div id="precedence-graph-container"></div>
        <div id="response-container"></div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
